 html{
    font-family: sans-serif;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f7f8;
}
.content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}
img{
    border-style: none;
    vertical-align: middle;
}
.top{
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar{
    display: inline-block !important;
    width: 100%;
    background-color: #4d636f;
    color: #fff;
}
.bar-item{
    display: inline-block !important;
    padding: 12px 24px !important;
    font-size: 20px !important;
    vertical-align: center;
    color: #fff;
    text-decoration: none;
    float: left;
}
.badge{
    border-radius: 50%;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}
.large{
    font-size: 18px;
}
.xlarge{
    font-size: 48px;
}
.button:hover{
    background-color: #ccc;
    overflow: 0;
    color: #000;
}
.button{
    padding: 8px 16px;
}
.circle{
    border-radius: 50%;
}
.right{
    float: right;
}
.container{  
    padding: 0.01em 16px !important;
}
.view{
    margin-top: 0px;
    display: flex;
}
@media (min-width: 600px) {
    .flex{
        display: flex;
        justify-content: center;
        max-width: 1400px;
    } 
    .col-left{
        width: 25%;
        padding-right: 5px;
    }
    .col-middle{
        width: 60%;
        padding: 0 5px;
    }
    .col-right{
        width: 20%;
        padding-left: 5px;
    }
    
}
.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.center{
    text-align: center;
}
.center-pix{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.margin{
    margin: 8px;
}
.margin-right{
    margin-right: 16px;
}
.margin-bottom{
    margin-bottom: 16px;
}
.margin-top{
    margin-top: 16px;
}
.margin-top-max{
    margin-top: 80px;
}
.margin-left{
    margin-left: 16px;
}
.left-align{
    text-align: left;
}
.primary-color{
    color: #4d636f;
}
.buttonx{
    width: 100%;
    padding: 8px 16px;
    border: none;
    color: #fff;
    background-color: #7d97a5;
    display: block;
    cursor:pointer;
    text-decoration:none;
}
.button-1{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.buttonx:hover{
    background-color: #ccc;
    color: #000;
}
.button-1:hover{
    background-color: #ccc;
    color: #000;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.tag{
    display: inline-block;
    padding: 0 8px;
}
.small{
    font-size: 12px;
}
.padding{
    padding: 8px 16px !important;
}
.border{
    border: 1px solid;
}
.half{
    padding: 0 8px;
}
.padding-16{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.white-a{
    text-decoration: none;
    color: #fff;
}
.dropdown{
    float: left;
    overflow: hdden;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn{
    margin: 0;
}

.dropdown-content{
    cursor:auto;
    color:#000;
    background-color:#fff;
    text-decoration: none;
    display:none;
    min-width:160px;
    margin:0;
    padding:8px 16px;
    z-index:1;
    position: absolute !important;
}
.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.small-drop{
    top: 45px;
}
.card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.icon{
    display: none !important;
}
@media (max-width:600px) {
    .hide-small{
        display: none;
    }
    .navbar a:not(:first-child) {
        display: none !important;
    }
    .navbar a.icon {
        float: right;
        display: block !important;
    }
}
@media screen and (max-width: 600px) {
    .navbar.navbar.responsive {
        display: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0 ;
    }
}
@media (max-width:600px){
    .w3-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .w3-modal{
        padding-top:30px
    }
    .w3-dropdown-hover.w3-mobile .content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{
        position:relative
    }	
    .w3-hide-small{
        display:none!important
    }.w3-mobile{
        display:block;
        width:100%!important
    }
    .w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{
        text-align:center
    }
    .w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{
        width:100%
    }}
